body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  margin-top: auto;
}

@media (min-width: 577px) {
  #carticon {
    display: none;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  #cartnav {
    display: none;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 576px) {
  #viewcart {
    display: none;
  }
}

